{% layout 'layout.liquid' %}

{% block content %}

{% if session.username %}
    <p>Hello, {{session.username}}!</p>
    <div>
        <div class="row">
            <a href="/parties/new">Create New Watch Party</a>
            <a href="/archives">View Archives</a>
            {% if parties.length < 1 %}
                <p class="card-text">This will be where parties go</p>
            {% else %}
                {% for party in parties %}
                    <div class="card" style="width: 18rem">
                        <h5 class="card-header">{{party.name}}</h5>
                            <div class="card-body">
                                <h6 class="card-title">
                                    {{party.date}}
                                </h6>
                            <a href="/parties/{{party._id}}" class="btn btn-info">View {{party.name}}</a>
                            <form action="/parties/{{party._id}}?_method=DELETE" method="POST">
                                <input type="submit" value="Delete {{party.name}}" class="btn btn-danger">
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endif %}
        
{% endblock %}