{% layout 'layout.liquid' %}

{% block content %}
{% if session.username %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-auto">
                <h1>Active Watch Parties</h1>
            </div>
            <div class="col-auto align-self-center">
                <a href="/parties/new" class="btn btn-primary">Create New Watch Party</a>
            </div>
            <div class="col-auto align-self-center">
                <a href="/archives" class="btn btn-secondary">View Archives</a>
            </div>
        </div>
        <div class="row my-3"></div>
        <div class="row">
            {% if parties.length < 1 %}
                <p style="text-align: center">There's nothing here! Why not add a new watch party?</p>
            {% else %}
                {% for party in parties %}
                <div class="col-auto m-1">
                    <div class="card" style="width: 18rem">
                        {% if party.movies[0].image %}
                            <a href="/parties/{{party._id}}"><img src="{{party.movies[0].image}}" class="card-img-top img-preview"></a>
                        {% else %}
                            <a href="/parties/{{party._id}}"><img src="/images/img-placeholder.jpg" class="card-img-top img-preview"></a>
                        {% endif %}
                        <div class="card-body">
                            <a href="/parties/{{party._id}}"><h5 class="card-title">{{party.name}}</h5></a>
                            <h6 class="card-title">
                                {{party.date}}
                            </h6>
                            <div class="row justify-content-between">
                                <div class="col-auto">
                                    <a href="/parties/{{party._id}}" class="btn btn-info btn-sm">View</a>
                                </div>
                                <div class="col-auto">
                                    <form action="/archives/{{party._id}}?_method=PUT" method="POST">
                                        <input class="btn btn-secondary btn-sm" type="submit" value="Archive">
                                    </form>
                                </div>
                                <div class="col-auto">
                                    <form action="/parties/{{party._id}}?_method=DELETE" method="POST">
                                        <input type="submit" class="btn btn-danger btn-sm"  value="Delete">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% else %}
    <h1>hello there sailor. Why not log in to see something?</h1>
{% endif %}   
{% endblock %}