{% layout 'layout.liquid' %}

{% block content %}

{% if session.username %}
    <p>Hello, {{session.username}}!</p>
    <div>
        <div class="row">
            <a href="/parties/new">Create New Watch Party</a>
            {% for party in parties %}
                <div class="card" style="width: 18rem">
                    <h5 class="card-header">{{party.name}}</h5>
                        <div class="card-body">
                            <h6 class="card-title">
                                {{party.date}}
                            </h6>
                        <p class="card-text">This will be where movies go</p>
                        <a href="/parties/{{party._id}}" class="btn btn-info">View {{party.name}}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
        
{% endblock %}