{% layout 'layout.liquid' %}

{% block content %}

{% if session.username %}
<div class="container p-4 my-6">
    <div class="row">
        <div class="col-lg-3">
            <h2 class="text-break">{{party.name}}</h2>
            {% if party.jsDate < now %}
            <h3>{{party.date}}</h3>
                <p>This date has passed.</p>
            {% else %}
                <h3>{{party.date}}</h3>
            {% endif %}
            <div class="row row-cols-auto mb-2">
                <div class="col">
                    <a href="/parties/{{party._id}}/edit" class="btn btn-info btn-sm">Edit Details</a>
                </div>
                <div class="col">
                    <form action="/archives/{{party._id}}?_method=PUT" method="POST">
                        <input class="btn btn-warning btn-sm" type="submit" value="Mark Complete">
                    </form>
                </div>
            </div>
            <!-- <div class="row row-cols-auto">
                <div class="col">
                    <a href="/parties/" class="btn btn-info">Back to Index</a>
                </div>
            </div> -->
        </div>
        <div class="col movie-container">
            <div class="row">
                <div class="col-auto">
                    <h2>Watchlist</h2>
                </div>
                <div class="col">
                    <a href="/parties/{{party._id}}/search" class="btn btn-primary">Add a Movie</a>
                </div>
            </div>
            {% if party.movies.length > 0 %}
                {% for movie in party.movies %}
                    <div class="row">
                        <div class="col-md">
                            <h5>{{movie.title}}</h5>
                        </div>
                        <!-- <div class="d-flex col-md justify-content-lg-end justify-content-md-start">
                            <form action="/movies/{{movie._id}}/{{party._id}}?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-danger btn-sm" value="Delete Movie">
                            </form>
                        </div> -->
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <img class="img-fluid" src="{{movie.image}}">
                        </div>
                        <div class="col-md">
                            <div class="row">
                                <p>{{movie.plot}}</p>
                                <p>{{movie.runtimeStr}}</p>
                            </div>
                            <div class="row">
                                <form action="/movies/{{movie._id}}/{{party._id}}/{{forloop.index0}}?_method=DELETE" method="POST">
                                    <input type="submit" class="btn btn-danger btn-sm" value="Delete Movie">
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <h2>Add a movie!</h2>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-md-3">
            <div class="row mb-3">
                <h2>Snack List</h2>
                <!-- <div class="col"> -->
                    <form action="/snacks/{{party._id}}" method="POST">
                        <fieldset>
                            <input type="text" id="name" name="name" minlength="1" placeholder="Enter snack" class="form-control my-1">
                            <label for="purchased">In Stock</label>
                            <input type="checkbox" id="purchased" name="purchased" class="form-check-input">
                        </fieldset>
                        <input type="submit" value="Add Snack" class="btn btn-info my-1">
                    </form>
                <!-- </div> -->
            </div>
            {% for snack in party.snacks %}
                <div class="row justify-content-between snack-container py-3">
                    <div class="col">
                        <h3 class="text-break">{{snack.name}}</h3>
                    </div>
                    <div class="col-auto">
                        {% if snack.purchased %}
                            <form id="stockCheck" action="/snacks/{{party._id}}/{{snack._id}}?_method=PUT" method="POST">
                                <input
                                    type="submit"
                                    class="btn btn-sm btn-info"
                                    name="purchased"
                                    value="In Stock"                          
                                >
                            </form>
                        {% else %}
                            <form id="stockCheck" action="/snacks/{{party._id}}/{{snack._id}}?_method=PUT" method="POST">
                                <input
                                    type="submit"
                                    class="btn btn-sm btn-outline-info"
                                    name="purchased"
                                    value="Out of Stock"
                                >
                            </form>
                        {% endif %}
                    </div>
                </div>
                <div class="row justify-content-end mb-3">
                    <div class="col-auto">
                        <form action="/snacks/{{party._id}}/{{snack._id}}?_method=DELETE" method="POST">
                            <input type="submit" class="btn btn-danger btn-sm" value="Delete Snack">
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
        
{% endblock %}