{% layout 'layout.liquid' %}

{% block content %}

{% if session.username %}
    <p>Hello, {{session.username}}!</p>
    <div>
        <div>
            <h2>{{party.name}}</h2>
            <h3>{{party.date}}</h3>
                <p>This will be where movies go</p>
                <div class="row">
                    {% for movie in movies %}
                        <div class="card" style="width: 18rem">
                        <h5 class="card-header">{{movie.title}}</h5>
                            <div class="card-body">
                                <img style="max-width: 100%;"src="{{movie.image}}">
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a href="/parties/{{party._id}}/search">Add a Movie</a>
                <a href="/parties/" class="btn btn-info">Back to Index</a>
            </div>
        </div>
    </div>
{% endif %}
        
{% endblock %}