{% layout 'layout.liquid' %}

{% block content %}

{% if session.username %}
    <p>Hello, {{session.username}}!</p>
    <div>
        <div>
            <h2>{{party.name}}</h2>
            <h3>{{party.date}}</h3>
                <p>This will be where movies go</p>
                <form action="/archives/{{party._id}}" method="POST">
                    <input class="btn btn-warning" type="submit" value="Archive {{party.name}}">
                </form>
                <div class="row">
                    {% for movie in party.movies %}
                        <div class="card" style="width: 24rem">
                        <h5 class="card-header">{{movie.title}}</h5>
                            <div class="card-body">
                                <img style="max-width: 50%;"src="{{movie.image}}">
                            </div>
                            <div class="card-body">
                                <p>{{movie.plot}} | {{movie.runtimeStr}}</p>
                                <form action="/movies/{{movie._id}}/{{party._id}}?_method=DELETE" method="POST">
                                    <input type="submit" class="btn btn-danger" value="Delete Movie">
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a href="/parties/{{party._id}}/search" class="btn btn-success">Add a Movie</a>
                <a href="/parties/" class="btn btn-info">Back to Index</a>
            </div>
        </div>
    </div>
{% endif %}
        
{% endblock %}