{% layout 'layout.liquid' %}

{% block content %}

{% if session.username %}
    <div class="container mt-3">
        <h2>WatchParty Archive</h2>
        <div class="row mb-3">
            {% if archives.length < 1 %}
                <p>This will be where archives go</p>
            {% else %}
                {% for archive in archives %}
                <div class="col-auto">
                    <div class="card mx-1" style="width: 18rem">
                        {% if archive.movies[0].image %}
                            <a href="/archives/{{archive._id}}"><img src="{{archive.movies[0].image}}" class="card-img-top img-preview"></a>
                        {% else %}
                            <a href="/archives/{{archive._id}}"><img src="/images/img-placeholder.jpg" class="card-img-top img-preview"></a>
                        {% endif %}
                        <div class="card-body">
                            <a href="/archives/{{archive._id}}"><h5 class="card-title">{{archive.name}}</h5></a>
                            <h6 class="card-title">
                                {{archive.date}}
                            </h6>
                            <!-- {% for movie in archive.movies %}
                                <img style="max-width: 45%; display: inline" class="img-fluid" src="{{movie.image}}">
                            {% endfor %} -->
                            <div class="row">
                                <div class="col">
                                    <form action="/archives/{{archive._id}}/unarchive?_method=PUT" method="POST">
                                        <input class="btn btn-secondary btn-sm" type="submit" value="Unarchive">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% else %}
    <h1>hello there sailor. Why not log in to see something?</h1>
{% endif %}  
        
{% endblock %}